body {
    background: linear-gradient(to bottom, #8642d8, #90c1da);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    
}
#contenedordad{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#contenedor{
    width: 20%;
    background-color: #fff0c932;
    color: white ;
    border-radius: 5px;
    text-align: center;
   
}

li{
    list-style: none;
    color: white;
    list-style-type: none;
}
a{
    list-style: none;
    color: white;
}

@media screen and (max-width: 750px){

    #contenedor{
        width: 100%;
    }
}